@charset "UTF-8";
ol, ul {
    list-style: none;
}

/*food*/
.food{padding:30px 0;}
.food .con{padding: 30px; color: #222222}
.food .con h2{margin-top: 22px; margin-bottom:11px;font-size: 24px;}
.food .con h4{}
.food .con p{line-height: 25px; margin-bottom: 16px;}
.food .con p i{padding-right: 5px;}